
@font-face {
    font-family: 'mulishitalic';
    src: url('fonts/mulish-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/mulish-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mulishregular';
    src: url('fonts/mulish-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/mulish-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body {
  margin: 0;
  padding: 0;

}
* {
  margin-top: 0
}
body.light {
  --primary-color: #3498db;
  --primary-text-color: #fff;
  --featured-bg: #493b8a;
  --featured-text: #fff;
  --secondary-color: #10072b;
  --background: #f8f8f8;
  --site-header: var(--background);
  --card-bg: #ffffff;
  --card-bdr: #eee;
  --card-shadow: #e0e0e0;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: #f7f8fe;
  --contact-bdr: #d3d6e7;
  --input-bg: var(--background);
  --header-bg: #ffffff;
  --category-color: #e1e8f0;
  --category-text-color: #718097;
  --hero-header-bg: #fefefe;
  --logo-color: #000000;
  --logo-dot: blue;
  --hamburger-color: #767676;
  --post-title-color: #2e3748;
  --post-content-color: #707070;
  --navbox-color: #fff;
  --nav-item-color: #111;
  --card-border: 0;
  --footer-bg: #fff;
  --subscribe-section-bg: #fff;
  --button-wrapper-bg: #f5f5f5;
  --button-wrapper-border: 5px solid #f5f5f5;
  --button-wrapper-shadow: 0;
  --text-box-color: default;
  --logo-text-2-color: grey;
  --input-border: var(--card-shadow);
  --required-color: #ff0000;
}
body.dark {
  --required-color: #fff;
  --input-border: #eee;
  --logo-text-2-color: var(--primary-color);
  --nav-item-color: #eee;
  --post-content-color: #bababa;
  --hamburger-color: white;
  --logo-color: #ffffff;
  --primary-color: #2a78b6;
  --primary-text-color: #fff;
  --featured-bg: #66578d;
  --featured-text: #fff;
  --secondary-color: #66578d;
  --background: #000000;
  --text-color: rgba(255,255,255,0.88);
  --text-secondary-color: rgba(255,255,255,0.66);
  --site-header: var(--background);
  --card-bg: transparent;
  --card-bdr: #181326;
  --card-shadow: #020204;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: var(--card-shadow);
  --contact-bdr: var(--card-bg);
  --input-bg: var(--card-bg);
  --header-bg: #000000;
  --category-color: #718097;
  --category-text-color: #2e3748;
  --hero-header-bg: #000000;
  --logo-dot: #ffffff;
  --post-title-color: #fff;
  --navbox-color: #000;
  --card-border: 1px solid #333;
  --footer-bg: #212121;
  --subscribe-section-bg: #121212;
  --button-wrapper-bg: transparent;
  --button-wrapper-border: 4px solid transparent;
  --button-wrapper-shadow: 0 0 0 1px white;
  --text-box-color: white;
}

/* System Fonts as used by Medium and WordPress */
body {
  font-family: mulishregular, Roboto, sans-serif;
  
  background-color: var(--background);
  color: var(--text-color);

}
a {
  color: var(--primary-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.site-wrapper {
  padding: 32px;
  max-width: 1000px;
  margin: 0 auto;
  img {
    max-width: 100%;
  }


}

@media only screen 
and (max-width: 768px) {
  .site-wrapper {
    padding: 14px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  font-weight: 300;
  a {
    color: #888;
    text-decoration: none;
    margin: 0 8px 0;
    &[aria-current] {
      color: var(--primary-color);
      font-weight: 700;
    }
    &:hover {
      color: var(--primary-color);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.site-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background: var(--site-header);
  margin-bottom: 32px;
  align-items: center;
}
.site-title a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
}
.hero-header {
  padding: 0 0 64px;
  max-width: 980px;
  background: var(--hero-header-bg);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 3px 5px 0 var(--card-shadow);
}
.headline {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.hero-button {
  position: absolute;
  top:0;
  right:0;
  border-radius: 50px;
  height: 100%;
  border: none;
  background: transparent;
  border: 2px solid var(--primary-color);
  
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  transition: color 0.5s, background 0.5s;
}

.contact-button {
  margin-right: 0;
  border-radius: 9px;
  background:transparent;
  border: 1.5px solid var(--primary-color);
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  transition: color 0.5s, background 0.5s;
  padding: 10px;
}

.contact-button:hover {
  background: var(--primary-color);
  color: white;
}

.hero-button:active {
  outline: none !important;
}

.hero-button:hover {
  background: var(--primary-color);
  color: white;
}

.text-box:focus {
  outline: none !important;

}

.logo-text {
  text-transform: capitalize;
  line-height: 70px;
  color: var(--logo-color);
}

.logo-text-2 {
  text-transform: capitalize;
  color: var(--logo-text-2-color);
}

.logo-text-3 {
  text-transform: capitalize;
  color: var(--logo-dot);
}

.button-wrapper {
  position: relative;
  width: 100%;
  background: var(--button-wrapper-bg);
  border-radius: 50px;
  
  overflow: hidden;
  max-width: 500px;
  display: inline-block;
  border: var(--button-wrapper-border);
  box-shadow: var(--button-wrapper-shadow);
}

.text-box {
  float: left;
  box-sizing: border-box;
  padding-right: 80px;
  width: 100%;
  padding: 12px;
  border-radius: 50px;
  background: transparent;
  border: none;
  color: var(--button-wrapper-text-color);
}



.primary-content {
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 1.5;
  }
.post {
  padding: 0;
  background:var(--background);
  color: var(--text-color);
  line-height: 1.5;
  > .blog-post-content {
    max-width: 768px;
    margin: 0 auto;
    color: var(--post-content-color);
  }
  > .blog-post-content *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
  .post-title {
    
    margin: 1rem 1rem 0 0.5rem;
    line-height: 1.1;
    font-size: 3rem;
    color: var(--post-title-color);
  }
  .post-meta {
    margin-bottom: 32px;
    margin: 0 0 1rem 0.5rem;
    font-weight: bold;
  }
  
}

.divider {
  height: 7px;
  width: 35px;
  background-color: var(--post-title-color);
  margin: 1rem 0 1rem 0.6rem;
}

.hamburger {
  background-color: var(--hamburger-color);
}

.hamburger:before {
  background-color: var(--hamburger-color);
}

.hamburger:after {
  background-color: var(--hamburger-color);
}

.post-thumbnail {
  text-align: center;
  min-height: 380px;
  //background-image: url('/assets/circles-light.png');
  background-color: var(--featured-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 36px;
  color: var(--featured-text);
  display: grid;
  align-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;
  &:before {
    content: "";
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  }
.grids {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;
  margin-top: 32px;
}

.card {
  display: grid;
  grid-column-gap: 5px;
  background-color: var(--card-bg);
  border-radius: 14px;
  grid-template-columns: 2fr 3fr;
  min-height: 150px;
  overflow: hidden;
  line-height: 1.5;
  box-shadow: 0 0.3px 2px 0 var(--card-shadow);
  

  &:hover .post-link {
    color: var(--primary-color);
  }
  
  > div {
    padding: 8px;
    
    
  }


 

  > h2:first-child {
    margin: 0 0 0.5rem 0;
  }
  .post-title {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    color: var(--post-title-color);
  }
  .post-meta {
    color: grey;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 0.8rem;
  }
  .post-link {
    color: var(--text-color);
    text-decoration: none;
  }
  .post-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


}



.card-image {

  border-radius: 8px !important;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}


.fill {
  
  overflow: hidden;
}





.post-meta {
  font-size: 0.8rem;
  color: var(--text-secondary-color);
}

.site-footer {
  text-align: center;
  margin: 90px 0 0 0;
  padding: 20px;
  color: #666;
  background: var(--footer-bg);
  a {
    font-weight: 700;
  }
}
.form-container {
  background-color: var(--card-bg);
  padding: 32px;
  
  border-radius: 9px;
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-secondary-color);
  }
  input[type=text],
  input[type=email],
  textarea {
    appearance: none;
    border: 1px solid var(--input-border);
    color: var(--text-secondary-color);
    border-radius: 6px;
    line-height: 32px;
    padding: 6px 12px;
    width: calc(100% - 24px);
    margin-bottom: 1.5rem;
    background-color: var(--input-bg);
  }
  textarea {
    margin-bottom: 2rem;
    height: 150px;
  }
}

.two-grids {
  display: grid;
  grid-gap: 32px;
  &.-contact {
    .post-thumbnail {
      min-height: 240px !important;
    }
  }
}
/* Portrait and Landscape */
@media only screen 
and (min-width: 768px) {
.grids {
  grid-template-columns: 1fr 1fr;
}
}

@media only screen 
and (max-width: 767px) {
.grids {
  grid-template-columns: 1fr;
}
}

@media only screen 
  and (min-width: 1024px) {
 
  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}


// theme-changer
.theme-changer {
  display: none;
}

body.dark {
  .gg-moon {
    display: none;
  }
}
body.light {
  .gg-sun {
    display: none;
  }
}
.mode-container {
  
  width: 24px;
  height: 24px;
  margin-right: 20px;

}
// CSS.gg icons for sun and moon
.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 24px;
  background:
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px 14px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat -8px 5px/6px 2px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent
}
.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px
}
.gg-sun::before {
  transform: rotate(-45deg)
}
.gg-sun::after {
  transform: rotate(45deg)
}
.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}
.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}
.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}

.no-select {
  -webkit-tpuch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -mox-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.category {
  width: fit-content;
  background-color: var(--category-color);
  color: var(--category-text-color);
  text-transform: capitalise;
  padding: 3px 6px;
  font-size: 0.7rem;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 10px;
}

.category-2 {
  width: fit-content;
  background-color: transparent;
  color: var(--post-title-color);
  text-transform: capitalise;
  padding: 3px 6px;
  font-size: 0.7rem;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid var(--post-title-color);
}

.togglewrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.nav-bar {
  height: 70px;

  display: flex;
  background-color: var(--header-bg);
  position: relative;
  justify-content: space-between;
  text-transform: uppercase;
  
  margin: 0 auto;
  padding: 0 5vw;
  z-index: 2;
  align-self: center;

  @media (max-width: 768px) {
    position: sticky;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
  }
}

.blue-grey {
  background-color: #718097;
}

.blue-grey-text {
  color: #718097;
}

.blue-grey-heading {
  color: #2e3748;
}

.bold {
  font-weight: bold;
}

.required {
  color: var(--required-color);
}

.nav-item {
  text-decoration: none;
  color: var(--nav-item-color);
  display: inline-block;
  white-space: nowrap;
  margin: 0 1vw;
  transition: all 200ms ease-in;
  position: relative;
  font-weight: bold;
}
  

  .nav-item:hover {
    color: #5978F3;
    text-decoration: none !important;
  }

  @media (max-width: 768px) {
    .nav-item {
    padding: 20px 0;
    font-size: 1.5rem;
    z-index: 6;}
  }

.nav-box {

}

.subscribe-section {
  background-color: var(--subscribe-section-bg);
  border-radius: 15px;
  max-width: 500px;
  margin: 80px auto 20px auto;
  padding: 10px;
 

}



.navbox {
  
}

@media (max-width: 768px) {
  .navbox{
    background-color: var(--navbox-color);
  }
}
  
