@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Italic.woff2') format('woff2'),
        url('fonts/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.woff2') format('woff2'),
        url('fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Medium.woff2') format('woff2'),
        url('fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;

}
* {
  margin-top: 0
}
body.light {
  --primary-color: #da3654;
  --primary-text-color: #fff;
  --featured-bg: #493b8a;
  --featured-text: #fff;
  --secondary-color: #10072b;
  --background: #ffffff;
  --site-header: var(--background);
  --card-bg: #ffffff;
  --card-bdr: #eee;
  --card-shadow: #e0e0e0;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: #f7f8fe;
  --contact-bdr: #d3d6e7;
  --input-bg: var(--background);
  --header-bg: #ffffff;
  --category-color: #e1e8f0;
  --category-text-color: #718097;
  --hero-header-bg: #ffffff;
  --logo-color: #000000;
  --logo-dot: blue;
  --hamburger-color: black;
  --post-title-color: #2e3748;
  --post-content-color: #33475b;
  --navbox-color: #fff;
  --nav-item-color: #111;
  --card-border: 0;
  --footer-bg: #fff;
  --subscribe-section-bg: #fff;
  --button-wrapper-bg: #f5f5f5;
  --button-wrapper-border: 5px solid #f5f5f5;
  --button-wrapper-shadow: 0;
  --text-box-color: default;
  --logo-text-2-color: grey;
  --input-border: var(--card-shadow);
  --required-color: #ff0000;
  --text-color: #242729;
}
body.dark {
  --required-color: #fff;
  --input-border: #eee;
  --logo-text-2-color: var(--primary-color);
  --nav-item-color: #eee;
  --post-content-color: #bababa;
  --hamburger-color: white;
  --logo-color: #ffffff;
  --primary-color: #da3654;
  --primary-text-color: #fff;
  --featured-bg: #66578d;
  --featured-text: #fff;
  --secondary-color: #66578d;
  --background: #000000;
  --text-color: rgba(255,255,255,0.88);
  --text-secondary-color: rgba(255,255,255,0.66);
  --site-header: var(--background);
  --card-bg: transparent;
  --card-bdr: #181326;
  --card-shadow: #020204;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: var(--card-shadow);
  --contact-bdr: var(--card-bg);
  --input-bg: var(--card-bg);
  --header-bg: #000000;
  --category-color: #718097;
  --category-text-color: #2e3748;
  --hero-header-bg: #f0f0f0;
  --logo-dot: #ffffff;
  --post-title-color: #fff;
  --navbox-color: #000;
  --card-border: 1px solid #333;
  --footer-bg: #212121;
  --subscribe-section-bg: #121212;
  --button-wrapper-bg: transparent;
  --button-wrapper-border: 4px solid transparent;
  --button-wrapper-shadow: 0 0 0 1px white;
  --text-box-color: white;
}

/* System Fonts as used by Medium and WordPress */
body {
  font-family: 'Varela Round', Roboto, sans-serif;
  
  background-color: var(--background);
  color: var(--text-color);

}
a {
  color: var(--primary-color);

  text-underline-position: under;
}

a:hover {
  color: blue;
}

.site-wrapper {
  padding: 0 0 0 0;
  max-width: 6000px;
  margin: 70px auto 0 auto;
  min-height: 70vh;
  img {
    max-width: 100%;
  }


}

.footer-heading {
  font-weight: bold;
  color: #fff;
}

blockquote {
  
  
  margin: 20px 0 20px 30px;
  padding-left: 8px;
}

@media only screen 
and (max-width: 768px) {
  .items-wrapper {
    padding: 14px;
  }
}

.items-wrapper {
  padding: 32px;
  max-width: 1000px;
  margin: 0 auto;

}

.posts-section {
  background: #f5f9fb;

}

.footer-logo {
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
  font-weight: 300;
  a {
    color: #888;
    text-decoration: none;
    margin: 0 8px 0;
    &[aria-current] {
      color: var(--primary-color);
      font-weight: 700;
    }
    &:hover {
      color: var(--primary-color);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.site-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background: var(--site-header);
  margin-bottom: 32px;
  align-items: center;
}
.site-title a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
}
.hero-header {
  padding: 0 0 64px;
  color: #000000;
  background: var(--hero-header-bg);
 

  
}
.headline {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.subscribe-section {
  background: #f2f6ff;
  margin-top: 40px;
 }

.post-header {
  /*background: linear-gradient(0deg, rgba(43,84,188,1) 0%, rgba(22,163,222,1) 100%);*/
  background: #f5f9fb;
    margin-bottom: 32px;
  color: black ;
}

.contact-button {
  margin-right: 0;
  border-radius: 9px;
  background:transparent;
  border: 1.5px solid var(--primary-color);
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  transition: color 0.5s, background 0.5s;
  padding: 10px;
}

.post-intro {
  
  font-style: italic;
  font-weight: 500;
}

.contact-button:hover {
  background: var(--primary-color);
  color: white;
}






.logoimg {
  height: 40px;
}



.hero-button {
  border: none;
  background: var(--primary-color);
  padding: .75rem 1rem;
  color: white;
  border-radius: 30px;
  width: 140px;
  font-weight: bold;
  transition: all .2s ease-in-out;
  
}

.hero-button:hover {
  box-shadow: 0 0px 25px 0 var(--primary-color);
  transform: scale(1.1);
}

.hero-button-footer {
  border: none;
  background: var(--primary-color);
  padding: .75rem 1rem;
  color: white;
  border-radius: 30px;
  width: 140px;
  font-weight: bold;
  transition: all .2s ease-in-out;

  &:hover {
    box-shadow: 0 0px 25px 0 var(--primary-color);
  transform: scale(1.1);
  }
  
}

.text-box {
  border: none;
  border-radius: 30px;
  padding: .7rem 0 .7rem 20px;
  margin: 0 10px 0 0;
  max-width: 500px;
  background: #f5f9fb;
&:focus {
    border: 2px solid #abb2b9;
  }
 
}

.text-box-footer {
  
  border: none;
  border-radius: 30px;
  padding: .7rem 0 .7rem 20px;
  margin: 0 10px 0 0;
  max-width: 500px;
  background: #f5f9fb;

  &:focus {
    border: 2px solid #abb2b9;
  }
 
  
}


.text-box:focus, .text-box-footer:focus {
  outline: none;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 3fr auto;
  max-width: 500px;
  
  
  
}

.subscribe-form-footer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-width: 500px;
  margin: 20px 0 0 0;
  
  
}

@media only screen 
and (max-width: 480px) {
.subscribe-form {
  grid-template-columns: 1fr;
}
.hero-button{
  width: 100%;
}

.text-box {
  margin: 0 0 15px 0;
}
}

.teal {
  color: #afd9d8;
}

.primary-content {
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 1.5;
  }
.post {
  padding: 0;
  background:var(--background);
  color: var(--text-color);
  line-height: 1.5;

  > .blog-post-content *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
  .post-title {
    
    
    line-height: 1.1;
    font-size: 3rem;
    
  }



  .post-meta {
    margin-bottom: 32px;
    margin: 0 0 1rem 0;
    font-weight: bold;
  }

  > h1, h2, h3, h4 {
    color: var(--post-title-color);
  }
  
}


.blog-post-content {
    max-width: 768px;
    margin: 0 auto;
    color: var(--post-content-color);
    > p, h1, h2, h3, h4, h5, h6 {
     margin: 0 40px 0 40px;
    }


  }



.divider {
  height: 7px;
  width: 35px;
  background-color: var(--post-title-color);
  margin: 1rem 0 1rem 0.6rem;
}

.hamburger {
  background-color: var(--hamburger-color);
}

.hamburger:before {
  background-color: var(--hamburger-color);
}

.hamburger:after {
  background-color: var(--hamburger-color);
}

.post-thumbnail {
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 80%;
  height: 0;
  padding-top: 56.25%;
  &:before {
    content: "";
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  > * {
    position: relative;
    z-index: 2;
  }
}

.grids {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;
  margin-top: 32px;
}

.post-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;
 
  
}

@media only screen 
and (min-width: 768px) {
.post-grid {
  grid-template-columns: 1fr 1fr;
}
.post-thumbnail {
  border-radius: 20px;
  margin: 30px;
}
}



@media only screen 
and (max-width: 767px) {
.post-grid {
  grid-template-columns: 1fr;
}

.hero-grid {
  grid-template-columns: 1fr !important;
}

.hero-image {
  display: none;
}
}


@media ( min-width: 768px ) {  
  .grid-item2 {
    order: -1;
  }
}

.card {
  display: grid;
  grid-column-gap: 5px;
  background-color: #f5f9fb;
  border-radius: 14px;
  grid-template-rows: auto 1fr;
  min-height: 150px;
  overflow: hidden;
  line-height: 1.5;
  position: relative;
  padding: 10px;
  transition: top .2s ease-in-out;

  &:hover .post-link {
    color: var(--primary-color);
  }
  
  > div {
    padding:15px 0 0 0;
    
    
  }


 

  > h2:first-child {
    margin: 0 0 0.5rem 0;
  }
  .post-title {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    color: var(--post-title-color);
  }
  .post-meta {
    color: grey;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 0.8rem;
  }
  .post-link {
    color: var(--text-color);
    text-decoration: none;
  }
  .post-details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    
  }


}

.card:hover {
  
  background-color: #fff;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo-text {
  color: black;
  font-size: 2em;
}

.logo-link {
  text-decoration: none;
}

.logo-text2 {
  color: black;
  font-weight: 800 !important;
}

.primary-gradient {
  color: var(--primary-color);

  @supports (background-clip: text) and (-webkit-text-fill-color: transparent) {
  background-image: linear-gradient(to bottom, orange, var(--primary-color));
  background-clip: text;
  color: transparent;
  }
}

.hero-image {
  margin: 0 auto;
  width: 60%;

}


.post-info {
  margin: 32px;
}

.fill img {


  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.hero-text {
  margin: auto 0;
}


.fill {
  position: relative;
  
}

.fill::after {
  display:block;
  content: '';
  padding-bottom: 56.25%
}





.post-meta {
  font-size: 0.8rem;
  color: var(--text-secondary-color);
}

.site-footer {
  display: grid;
  grid-template-columns: 5fr 2fr 1fr 1fr;
  
  margin: 0 0 0 0;
  padding: 50px;
  color: #666;
  background: #000;
  a {
    text-decoration: none;
    color: #bbbbbb;
  }

  a:hover {
    color: #ffffff;
  }
}

.copyright-notice {
  text-align: center;
  padding: 10px;
  color: #ffffff;
  background: #000000
}

.margin-auto {
  margin: auto;
}

.footer-section2 {
  display: grid;
  grid-template-columns: 1fr;
  a {
    font-weight: bold;
    overflow-wrap: break-word;
  }
}

.footer-section1 {
  padding: 0 20px 0 0;
}

@media only screen 
and (max-width: 768px) {
  .site-footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .footer-section1 {
    grid-column: 1/3;
    
    padding: 0;
  }
  .footer-section2 {
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
  }
}



.form-container {
  background-color: var(--card-bg);
  padding: 32px;
  
  border-radius: 9px;
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-secondary-color);
  }
  input[type=text],
  input[type=email],
  textarea {
    appearance: none;
    border: none;
    color: var(--text-secondary-color);
    border-radius: 30px;
    line-height: 32px;
    padding: 6px 12px;
    width: calc(100% - 24px);
    margin-bottom: 1.5rem;
    background: #f5f9fb;;
  }
  textarea {
    margin-bottom: 2rem;
    height: 150px;
  }

  input[type=text],
  input[type=email],
  textarea:focus {
    outline: none;
    border: 2px solid #abb2b9;
  }
}



.two-grids {
  display: grid;
  grid-gap: 32px;
  
}
/* Portrait and Landscape */
@media only screen 
and (min-width: 550px) {
.grids {
  grid-template-columns: 1fr 1fr;
}
}

@media only screen 
and (max-width: 549px) {
.grids {
  grid-template-columns: 1fr;
}
}

.contact-page-text {
  margin: auto auto;
}

@media only screen 
  and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}


// theme-changer
.theme-changer {
  display: none;
}

body.dark {
  .gg-moon {
    display: none;
  }
}
body.light {
  .gg-sun {
    display: none;
  }
}
.mode-container {
  
  width: 24px;
  height: 24px;
  margin-right: 20px;

}
// CSS.gg icons for sun and moon
.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 24px;
  background:
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px 14px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat -8px 5px/6px 2px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent
}
.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px
}
.gg-sun::before {
  transform: rotate(-45deg)
}
.gg-sun::after {
  transform: rotate(45deg)
}
.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}
.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}
.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}

.no-select {
  -webkit-tpuch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -mox-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.category {
  width: fit-content;
  background-color: orange;
  color: white;
  text-transform: capitalize;
  padding: 3px 6px;
  font-size: 0.7rem;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 10px;
  
  margin-left: 5px;

}

.post-type {
  width: fit-content;
  background-color: red;
  color: white;
  text-transform: uppercase;
  padding: 3px 6px;
  font-size: 0.7rem;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 10px;
  
}

.type-category * {
  display: inline-block;

}

.category-2 {
  width: fit-content;
  background-color: transparent;
  color: var(--post-title-color);
  text-transform: capitalise;
  padding: 3px 6px;
  font-size: 0.7rem;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid var(--post-title-color);
}

.togglewrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
}

.nav-bar {
  height: 70px;

  
  background: rgba(255,255,255,0.7);
 
  backdrop-filter: blur(15px) saturate(125%);
  
  text-transform: uppercase;
  
 
  
  z-index: 2;
  align-self: center;

  @media (max-width: 768px) {
    
    top: 0;
    left: 0;
    right: 0;
    left: 0;
  }
}

.nav-bar-contents {
  display: flex;
  padding: 0 5vw;
  justify-content: space-between;
  align-self: center;
  height: 100%;
}

.blue-grey {
  background-color: #718097;
}

.blue-grey-text {
  color: #718097;
}

.blue-grey-heading {
  color: #2e3748;
}

.bold {
  font-weight: bold;
}

.required {
  color: var(--required-color);
}

.nav-item {
  text-decoration: none;
  color: var(--nav-item-color);
  display: inline-block;
  white-space: nowrap;
  margin: 0 1vw;
  transition: all 200ms ease-in;
  position: relative;
  font-weight: bold;
}
  

  .nav-item:hover {
    color: var(--primary-color);
    text-decoration: none !important;
  }

  @media (max-width: 768px) {
    .nav-item {
    padding: 20px 0;
    font-size: 1.5rem;
    z-index: 6;}
  }



.contact-heading, .contact-text {
  z-index: 1;
}





.navbox {
  
}

@media (max-width: 768px) {
  .navbox{
    background-color: var(--navbox-color);
  }
}
  
